@font-face {
    font-family: 'Inter', sans-serif;
    src: url(/assets/fonts/Inter/static/Inter_24pt-Regular.ttf);
}

body{
    margin: 0;
    padding: 0;
    max-width: 1920px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}
.section{
    padding: clamp(60px,10vw,120px)
}
.header{
    position: sticky;
    width: 100%;
    display: flex;;
    padding: 1%;
    justify-content: space-between;
}
.feature{
    font-family: 'Inter', sans-serif;
    font-size: 100%;
}
.header-nav{
    display: flex;
    gap: 60px;
    align-items: center;
    padding-right: 20%;
}
#logo{
    width: 100px;
    height:70px;
    background-color: black;
    margin-left: 150px;
}
#show-features{
    display: none;
}
#media-features{
    display: none;
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .header-nav{
        display: none;
    }
    #logo{
        margin-left: 15px;
    }
    #show-features{
        display: flex;
        flex-direction: column;
        height: 70px;
        width: 70px;
        margin-right: 30px;
        gap: 5px;
        border-radius: 15px;
        background-color: gray;
        justify-content: center;
        align-items: center;
    }
    .bar{
        width: 30px;
        height: 7px;
        background-color: black;
        border-radius: 15px;
        transition: 0.3s ease;
    }

    #show-features div:nth-child(3){
        width: 20px;
        transform: translate(5px);
    }

    #show-features.active div:nth-child(1){
        transform: rotate(-45deg) translate(-8.1px,8.1px);
        width: 40px;
    }
    #show-features.active div:nth-child(2){
        transform: translate(100px);
    }
    #show-features.active div:nth-child(3){
        width: 40px;
        transform: rotate(45deg) translate(-8.1px,-8.1px);
    }

    #media-features.active{
        background-color: blue;
        display: flex;
        flex-direction: column;
        margin-left: 71%;
        align-items: center;
    }
    .section{
        padding: 0;
    }
}
#contact {
    position: relative;
    display: inline-block;
    padding: 4px 8px;
    color: white;
    font-size: 110%;
}
#contact::before {
    content: "";
    position: absolute;
    inset: 0;

    background-color: black;
    border-radius: 10px;

    z-index: -1;
    pointer-events: none;
}